:root {
  --first-color-text: #ffaaa5;
  --first-color-background: rgba(255, 170, 165, 0.8);
  --second-color-background: #fcf8f3;
  --second-color-text: #fefbef;
  --third-color: #ffd3b6;
  --fourth-color-text: #698474;
  --fourth-color-background: rgba(105, 132, 116, 0.9);
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

body {
  background-color: var(--fourth-color-background);
  font-family: var(--primary-font);
}

h1 {
  color: var(--fourth-color-text);
  font-size: 53px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--second-color-text);
  font-weight: 300;
  font-size: 13px;
  line-height: 1.9;
}

.hero {
  background-color: var(--second-color-background);
}
.container {
  margin: 75px auto;
  justify-content: center;
  max-width: 700px;
}
.coordinates {
  flex-direction: column;
  justify-content: space-between;
}
.locations {
  background-color: var(--first-color-background);
  border-radius: 5px;
  border-top-left-radius: 30px;
  padding: 15px 25px;
}

.locations .primary-word {
  color: var(--fourth-color-text);
  font-weight: 500;
  font-size: 13px;
}

.hero-button {
  justify-content: center;
  text-decoration: none;
  color: var(--fourth-color-text);
  border: 2px solid var(--first-color-background);
  border-radius: 5px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px;
}

.hero-button:hover {
  border: 2px solid var(--fourth-color-background);
  color: var(--first-color-text);
}

.timeline {
  background-color: var(--fourth-color-background);
  padding: 50px 40px;
  border-radius: 5px;
  border-bottom-right-radius: 45px;
}

.timeline .primary-word {
  color: var(--first-color-text);
  font-weight: 400;
}

.timeline li {
  font-size: 17px;
  line-height: 2.4;
}
